[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/plugins/start/tmuxline.vim"]
	path = pack/plugins/start/tmuxline.vim
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "pack/plugins/start/vim-signature"]
	path = pack/plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
